{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.7.2/css/all.css">

    <title>{% block title %}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

    <body>

    <div class="wrapper">
        <div class="sidebar">
           <div class="profile">
                <img src="{% static 'images/photo.jpg' %}" alt="profile_picture">
                <h3>Dmitriy Palchikov</h3>
                <p>DevOps engineer</p>
           </div>
            <ul>
                <li>
                    <a href="#" class="active">
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Resume</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-cubes-stacked"></i></span>
                        <span class="item">My stack</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-graduation-cap"></i></span>
                        <span class="item">Courses</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-blog"></i></span>
                        <span class="item">Blog</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-business-time"></i></span>
                        <span class="item">Service</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="icon"><i class="fa-solid fa-address-card"></i></span>
                        <span class="item">Contacts</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        {% block content %}{% endblock %}
    </div>
    </body>
</html>